In [1]:
# Load Necessary libraries
import pandas as pd
import numpy as np

In [2]:
# load heart disease Dataset Framingham.csv
heart_disease_df = pd.read_csv("Resources/framingham.csv")
heart_disease_df

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

# Part A ~ Initial ETL of dataframe columns

In [3]:
# Columns
heart_disease_df.columns

Index(['male', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'TenYearCHD'],
      dtype='object')

In [4]:
# Filter data to show only Female [male column 0= female 1 = male]
heart_disease_FM = heart_disease_df[heart_disease_df['male'] <1]
heart_disease_FM

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
5,0,43,2.0,0,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0
6,0,63,1.0,0,0.0,0.0,0,0,0,205.0,138.0,71.0,33.11,60.0,85.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4229,0,51,3.0,1,20.0,0.0,0,1,0,251.0,140.0,80.0,25.60,75.0,NaN,0
4230,0,56,1.0,1,3.0,0.0,0,1,0,268.0,170.0,102.0,22.89,57.0,NaN,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [5]:
# list dataframe data types
heart_disease_FM.dtypes

male                 int64
age                  int64
education          float64
currentSmoker        int64
cigsPerDay         float64
BPMeds             float64
prevalentStroke      int64
prevalentHyp         int64
diabetes             int64
totChol            float64
sysBP              float64
diaBP              float64
BMI                float64
heartRate          float64
glucose            float64
TenYearCHD           int64
dtype: object

In [6]:
#check for null values
heart_disease_FM.isnull().any()
heart_disease_FM

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
5,0,43,2.0,0,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0
6,0,63,1.0,0,0.0,0.0,0,0,0,205.0,138.0,71.0,33.11,60.0,85.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4229,0,51,3.0,1,20.0,0.0,0,1,0,251.0,140.0,80.0,25.60,75.0,NaN,0
4230,0,56,1.0,1,3.0,0.0,0,1,0,268.0,170.0,102.0,22.89,57.0,NaN,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [7]:
# heart_disease_nnull.dropna()
heart_disease_FM.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
# renaming the dataframe with the dropped rows
female_heart_disease = heart_disease_FM.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [8]:
# drop 'male' column, as all rows are currently female.
female_heart_disease.drop('male', axis=1, inplace=True)

C:\Users\dixie\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [9]:
female_heart_disease

,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
1,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
3,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
5,43,2.0,0,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0
6,63,1.0,0,0.0,0.0,0,0,0,205.0,138.0,71.0,33.11,60.0,85.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4216,59,3.0,1,20.0,0.0,0,0,0,251.0,125.0,80.0,22.18,70.0,70.0,0
4217,63,1.0,0,0.0,0.0,0,1,0,266.0,167.0,94.0,25.23,95.0,94.0,0
4218,52,1.0,0,0.0,0.0,0,0,0,265.0,137.5,84.5,26.91,72.0,86.0,0
4228,50,1.0,0,0.0,0.0,0,1,1,260.0,190.0,130.0,43.67,85.0,260.0,0
4237,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [10]:
# Converting the index as a column
female_heart_disease.reset_index(inplace=True)
# Renaming index, as a column, to index 1
female_heart_disease = female_heart_disease.rename(columns = {'index':'index_1'})

In [11]:
female_heart_disease

,index_1,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
1,3,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
2,4,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
3,5,43,2.0,0,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0
4,6,63,1.0,0,0.0,0.0,0,0,0,205.0,138.0,71.0,33.11,60.0,85.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2029,4216,59,3.0,1,20.0,0.0,0,0,0,251.0,125.0,80.0,22.18,70.0,70.0,0
2030,4217,63,1.0,0,0.0,0.0,0,1,0,266.0,167.0,94.0,25.23,95.0,94.0,0
2031,4218,52,1.0,0,0.0,0.0,0,0,0,265.0,137.5,84.5,26.91,72.0,86.0,0
2032,4228,50,1.0,0,0.0,0.0,0,1,1,260.0,190.0,130.0,43.67,85.0,260.0,0
2033,4237,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [12]:
# Converting the index as a column to create a unique ID.
female_heart_disease.reset_index(inplace=True)

# Renaming index, as a column, to index 1
female_heart_disease = female_heart_disease.rename(columns = {'index':'patient_female_id'})

# Drop 'index_1' column, as this follows the previous index, which included male members of the population.
female_heart_disease.drop('index_1', axis=1, inplace=True)

In [13]:
female_heart_disease

,patient_female_id,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
1,1,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
2,2,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
3,3,43,2.0,0,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0
4,4,63,1.0,0,0.0,0.0,0,0,0,205.0,138.0,71.0,33.11,60.0,85.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2029,2029,59,3.0,1,20.0,0.0,0,0,0,251.0,125.0,80.0,22.18,70.0,70.0,0
2030,2030,63,1.0,0,0.0,0.0,0,1,0,266.0,167.0,94.0,25.23,95.0,94.0,0
2031,2031,52,1.0,0,0.0,0.0,0,0,0,265.0,137.5,84.5,26.91,72.0,86.0,0
2032,2032,50,1.0,0,0.0,0.0,0,1,1,260.0,190.0,130.0,43.67,85.0,260.0,0
2033,2033,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [14]:
female_heart_disease.to_csv("ETL/heart_disease_females.csv", index = False)

In [15]:
#Extract framinghame to create a table: Demographics, Habits, Pre-Existing Conditions and Parameters
demographics = female_heart_disease[['patient_female_id','age', 'education']]
demographics

      patient_female_id  age  education
0                     0   46        2.0
1                     1   61        3.0
2                     2   46        3.0
3                     3   43        2.0
4                     4   63        1.0
...                 ...  ...        ...
2029               2029   59        3.0
2030               2030   63        1.0
2031               2031   52        1.0
2032               2032   50        1.0
2033               2033   52        2.0

[2034 rows x 3 columns]

In [16]:
demographics.to_csv("ETL/demographics.csv", index = False)

In [17]:
#Extract framinghame to create a table: Demographics, Habits, Pre-Existing Conditions and Parameters
habits = female_heart_disease[['patient_female_id','currentSmoker', 'cigsPerDay']]
habits

      patient_female_id  currentSmoker  cigsPerDay
0                     0              0         0.0
1                     1              1        30.0
2                     2              1        23.0
3                     3              0         0.0
4                     4              0         0.0
...                 ...            ...         ...
2029               2029              1        20.0
2030               2030              0         0.0
2031               2031              0         0.0
2032               2032              0         0.0
2033               2033              0         0.0

[2034 rows x 3 columns]

In [18]:
habits.to_csv("ETL/habits.csv", index = False)

In [19]:
#Extract framinghame to create a table: Demographics, Habits, Pre-Existing Conditions and Parameters
pre_existing_conditions = female_heart_disease[['patient_female_id','BPMeds', 'prevalentStroke', 'prevalentHyp']]
pre_existing_conditions

      patient_female_id  BPMeds  prevalentStroke  prevalentHyp
0                     0     0.0                0             0
1                     1     0.0                0             1
2                     2     0.0                0             0
3                     3     0.0                0             1
4                     4     0.0                0             0
...                 ...     ...              ...           ...
2029               2029     0.0                0             0
2030               2030     0.0                0             1
2031               2031     0.0                0             0
2032               2032     0.0                0             1
2033               2033     0.0                0             0

[2034 rows x 4 columns]

In [20]:
pre_existing_conditions.to_csv("ETL/pre_existing_conditions.csv", index = False)

In [21]:
#Extract framinghame to create a table: Demographics, Habits, Pre-Existing Conditions and Parameters
parameters = female_heart_disease[['patient_female_id','totChol', 'sysBP', 'diaBP', 'BMI', 'heartRate', 'glucose','TenYearCHD']]
parameters

,patient_female_id,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
1,1,225.0,150.0,95.0,28.58,65.0,103.0,1
2,2,285.0,130.0,84.0,23.10,85.0,85.0,0
3,3,228.0,180.0,110.0,30.30,77.0,99.0,0
4,4,205.0,138.0,71.0,33.11,60.0,85.0,1
...,...,...,...,...,...,...,...,...
2029,2029,251.0,125.0,80.0,22.18,70.0,70.0,0
2030,2030,266.0,167.0,94.0,25.23,95.0,94.0,0
2031,2031,265.0,137.5,84.5,26.91,72.0,86.0,0
2032,2032,260.0,190.0,130.0,43.67,85.0,260.0,0
2033,2033,269.0,133.5,83.0,21.47,80.0,107.0,0

In [22]:
parameters.to_csv("ETL/parameters.csv", index = False)