In [1]:
# Load Necessary libraries
import pandas as pd
import numpy as np

### 4 additional columns added more for visualization and analysis than for MLM

In [2]:
# load blood pressure dataset
blood_pressure_df = pd.read_csv("ETL/bp_pks.csv")
blood_pressure_df

,bp_key,bp_category,systolic_mmhg,and_or,diastolic_mmhg
0,D,Low,90,and,LESS THAN 60
1,E,Normal,LESS THAN 120,and,LESS THAN 80
2,F,Elevated,120 – 129,and,LESS THAN 80
3,G,High BP - Hypertenstion Stage1,130 – 139,or,80 – 89
4,H,High BP - Hypertenstion Stage2,140,or,90 OR HIGHER
5,I,Hypertensive Crisis,HIGHER THAN 180,and/or,HIGHER THAN 120

In [3]:
# load total_cholesterol dataset
tot_chol_df = pd.read_csv("ETL/totchol_pks.csv")
tot_chol_df

  tc_key total_cholesterol_mg_dL total_cholesterol_mmol_dL     chol_results
0      A         Below 200 mg/dL         Below 5.18 mmol/L        Desirable
1      B           200-239 mg/dL          5.18-6.18 mmol/L  Borderline high
2      C     240 mg/dL and above         Above 6.18 mmol/L             High

In [4]:
# load glucose_test dataset
glucose_test_df = pd.read_csv("ETL/glucose_pks.csv")
glucose_test_df

  glucose_key fasting_blood_sugar_test       results
0           N                <99 mg/dL        normal
1           O            100-125 mg/dL  pre-diabetes
2           P               >126 mg/dL      diabetic

In [5]:
# load BMI dataset
bmi_df = pd.read_csv("ETL/bmi_pks.csv")
bmi_df

  BMI_key             BMI  description
0       J  18.4 and Below  Underweight
1       K     18.5 – 24.9      Normal
2       L     25.0 – 29.9   Overweight
3       M  30.0 and Above        Obese

### Modified dataframe and added four columns with letters that corresponds to primary keys of the four columns listed above.

In [6]:
# load hdf_pks (parameters with keys)
hdf_pks_df = pd.read_csv("ETL/hdf_pks.csv")
hdf_pks_df

,patient_female_id,tot_chol,tc_key,sys_bp,dia_bp,bp_key,bmi,bmi_key,heart_rate,glucose,glucose_key,ten_year_chd
0,0,250,C,121.0,81.0,F,28.73,L,95,76,N,0
1,1,225,B,150.0,95.0,H,28.58,L,65,103,O,1
2,2,285,C,130.0,84.0,G,23.10,K,85,85,N,0
3,3,228,B,180.0,110.0,I,30.30,M,77,99,N,0
4,4,205,B,138.0,71.0,G,33.11,M,60,85,N,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2029,2029,251,C,125.0,80.0,F,22.18,K,70,70,N,0
2030,2030,266,C,167.0,94.0,H,25.23,L,95,94,N,0
2031,2031,265,C,137.5,84.5,G,26.91,L,72,86,N,0
2032,2032,260,C,190.0,130.0,I,43.67,M,85,260,P,0
2033,2033,269,C,133.5,83.0,G,21.47,K,80,107,O,0

### Combined parameters_pks with the four secondory datasets

In [7]:
# load cleaned dataset
clean_FHD_predictor_dataset = pd.read_csv("ETL/clean_FHD_predictor_dataset.csv")
clean_FHD_predictor_dataset

,patient_female_id,age,education,current_smoker,cigs_per_day,bp_meds,prevalent_stroke,prevalent_hyp,diabetes,tot_chol,chol_results,sys_bp,dial_bp,bp_category,bmi,description,heart_rate,glucose,results,ten__year_chd
0,0,46,2,0,0,0,0,0,0,250,High,121.0,81.0,Elevated,28.73,Overweight,95,76,normal,0
1,1,61,3,1,30,0,0,1,0,225,Borderline high,150.0,95.0,High BP - Hypertenstion Stage2,28.58,Overweight,65,103,pre-diabetes,1
2,2,46,3,1,23,0,0,0,0,285,High,130.0,84.0,High BP - Hypertenstion Stage1,23.10,Normal,85,85,normal,0
3,3,43,2,0,0,0,0,1,0,228,Borderline high,180.0,110.0,Hypertensive Crisis,30.30,Obese,77,99,normal,0
4,4,63,1,0,0,0,0,0,0,205,Borderline high,138.0,71.0,High BP - Hypertenstion Stage1,33.11,Obese,60,85,normal,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2029,2029,59,3,1,20,0,0,0,0,251,High,125.0,80.0,Elevated,22.18,Normal,70,70,normal,0
2030,2030,63,1,0,0,0,0,1,0,266,High,167.0,94.0,High BP - Hypertenstion Stage2,25.23,Overweight,95,94,normal,0
2031,2031,52,1,0,0,0,0,0,0,265,High,137.5,84.5,High BP - Hypertenstion Stage1,26.91,Overweight,72,86,normal,0
2032,2032,50,1,0,0,0,0,1,1,260,High,190.0,130.0,Hypertensive Crisis,43.67,Obese,85,260,diabetic,0
2033,2033,52,2,0,0,0,0,0,0,269,High,133.5,83.0,High BP - Hypertenstion Stage1,21.47,Normal,80,107,pre-diabetes,0

In [8]:
# Columns
clean_FHD_predictor_dataset.columns

Index(['patient_female_id', 'age', 'education', 'current_smoker',
       'cigs_per_day', 'bp_meds', 'prevalent_stroke', 'prevalent_hyp',
       'diabetes', 'tot_chol', 'chol_results', 'sys_bp', 'dial_bp',
       'bp_category', 'bmi', 'description', 'heart_rate', 'glucose', 'results',
       'ten__year_chd'],
      dtype='object')

In [18]:
# list dataframe data types
clean_FHD_predictor_dataset.dtypes

patient_female_id      int64
age                    int64
education              int64
current_smoker         int64
cigs_per_day           int64
bp_meds                int64
prevalent_stroke       int64
prevalent_hyp          int64
diabetes               int64
tot_chol               int64
chol_results          object
sys_bp               float64
dial_bp              float64
bp_category           object
bmi                  float64
description           object
heart_rate             int64
glucose                int64
results               object
ten__year_chd          int64
dtype: object

In [41]:
#summary of numerical values
FHD_Stat = clean_FHD_predictor_dataset.describe()
FHD_Stat

,patient_female_id,age,education,current_smoker,cigs_per_day,bp_meds,prevalent_stroke,prevalent_hyp,diabetes,tot_chol,sys_bp,dial_bp,bmi,heart_rate,glucose,ten__year_chd
count,"2,034.00","2,034.00","2,034.00","2,034.00","2,034.00","2,034.00","2,034.00","2,034.00","2,034.00","2,034.00","2,034.00","2,034.00","2,034.00","2,034.00","2,034.00","2,034.00"
mean,"1,016.50",49.74,1.96,0.40,5.50,0.04,0.01,0.31,0.03,239.64,133.27,82.36,25.52,76.96,81.79,0.12
std,587.31,8.57,0.97,0.49,8.74,0.19,0.08,0.46,0.16,46.17,23.99,12.31,4.52,12.12,23.59,0.33
min,0.00,32.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,135.00,83.50,51.00,15.96,46.00,40.00,0.00
25%,508.25,42.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,206.00,116.00,74.00,22.54,69.00,72.00,0.00
50%,"1,016.50",49.00,2.00,0.00,0.00,0.00,0.00,0.00,0.00,237.00,128.00,81.00,24.72,75.00,78.00,0.00
75%,"1,524.75",56.00,3.00,1.00,10.00,0.00,0.00,1.00,0.00,268.00,146.00,89.00,27.71,85.00,86.00,0.00
max,"2,033.00",70.00,4.00,1.00,43.00,1.00,1.00,1.00,1.00,600.00,295.00,142.50,56.80,143.00,394.00,1.00

In [44]:
# format values float to integer
pd.options.display.float_format = '{:,.0f}'.format
FHD_Stat

,patient_female_id,age,education,current_smoker,cigs_per_day,bp_meds,prevalent_stroke,prevalent_hyp,diabetes,tot_chol,sys_bp,dial_bp,bmi,heart_rate,glucose,ten__year_chd
count,"2,034","2,034","2,034","2,034","2,034","2,034","2,034","2,034","2,034","2,034","2,034","2,034","2,034","2,034","2,034","2,034"
mean,"1,016",50,2,0,5,0,0,0,0,240,133,82,26,77,82,0
std,587,9,1,0,9,0,0,0,0,46,24,12,5,12,24,0
min,0,32,1,0,0,0,0,0,0,135,84,51,16,46,40,0
25%,508,42,1,0,0,0,0,0,0,206,116,74,23,69,72,0
50%,"1,016",49,2,0,0,0,0,0,0,237,128,81,25,75,78,0
75%,"1,525",56,3,1,10,0,0,1,0,268,146,89,28,85,86,0
max,"2,033",70,4,1,43,1,1,1,1,600,295,142,57,143,394,1

In [45]:
FHD_Stat.to_csv("ETL/FHD_Stat.csv", index = False)