In [1]:
# import dependencies
import pandas as pd

In [2]:
#  Import and read the USvideos.csv.
import pandas as pd 
USvideos_df= pd.read_csv("/Users/richellelong/Desktop/project/Reformatted_Trending_Dates.csv")
USvideos_df.head()
USvideos_df.dtypes

video_id                  object
trending_date             object
date_trending             object
title                     object
channel_title             object
category_id                int64
publish_time              object
tags                      object
views                      int64
likes                      int64
dislikes                   int64
comment_count              int64
thumbnail_link            object
comments_disabled           bool
ratings_disabled            bool
video_error_or_removed      bool
description               object
dtype: object

In [3]:
# Drop other columns and keep only video_id, trending_date and publish_time.
Dates_df = USvideos_df.drop(["trending_date", "title", "channel_title", "category_id", "tags", "views", "likes", "dislikes", 
                        "comment_count", "thumbnail_link", "comments_disabled", "ratings_disabled", 
                        "video_error_or_removed", "description"], axis = 1)
Dates_df

          video_id date_trending              publish_time
0      2kyS6SvSYSE      11/14/17  2017-11-13T17:13:01.000Z
1      1ZAPwfrtAFY      11/14/17  2017-11-13T07:30:00.000Z
2      5qpjK5DgCt4      11/14/17  2017-11-12T19:05:24.000Z
3      puqaWrEC7tY      11/14/17  2017-11-13T11:00:04.000Z
4      d380meD0W0M      11/14/17  2017-11-12T18:01:41.000Z
...            ...           ...                       ...
40944  BZt0qjTWNhw       6/14/18  2018-05-18T13:00:04.000Z
40945  1h7KV2sjUWY       6/14/18  2018-05-18T01:00:06.000Z
40946  D6Oy4LfoqsU       6/14/18  2018-05-18T17:34:22.000Z
40947  oV0zkMe1K8s       6/14/18  2018-05-17T17:00:04.000Z
40948  ooyjaVdt-jA       6/14/18  2018-05-17T17:09:38.000Z

[40949 rows x 3 columns]

In [4]:
# identify datatypes
Dates_df.dtypes

video_id         object
date_trending    object
publish_time     object
dtype: object

In [5]:
# format strings into desired datetime formats of YY-MM-DD
Dates_df["date_trending"] = pd.to_datetime(Dates_df["date_trending"]).dt.strftime('%Y-%m-%d')
Dates_df["publish_time"] = pd.to_datetime(Dates_df["publish_time"]).dt.strftime('%Y-%m-%d')
Dates_df.dtypes
Dates_df

          video_id date_trending publish_time
0      2kyS6SvSYSE    2017-11-14   2017-11-13
1      1ZAPwfrtAFY    2017-11-14   2017-11-13
2      5qpjK5DgCt4    2017-11-14   2017-11-12
3      puqaWrEC7tY    2017-11-14   2017-11-13
4      d380meD0W0M    2017-11-14   2017-11-12
...            ...           ...          ...
40944  BZt0qjTWNhw    2018-06-14   2018-05-18
40945  1h7KV2sjUWY    2018-06-14   2018-05-18
40946  D6Oy4LfoqsU    2018-06-14   2018-05-18
40947  oV0zkMe1K8s    2018-06-14   2018-05-17
40948  ooyjaVdt-jA    2018-06-14   2018-05-17

[40949 rows x 3 columns]

In [6]:
# format strings as datetime
Dates_df[["date_trending", "publish_time"]] = Dates_df[["date_trending", "publish_time"]].apply(pd.to_datetime)
# Dates_df
Dates_df.dtypes

video_id                 object
date_trending    datetime64[ns]
publish_time     datetime64[ns]
dtype: object

In [7]:
# Compute for difference between publish date and and trending_date
trending = Dates_df["date_trending"]
trending 

published = Dates_df["publish_time"]
published

difference_series = (trending - published)
difference_series

0        1 days
1        1 days
2        2 days
3        1 days
4        2 days
          ...
40944   27 days
40945   27 days
40946   27 days
40947   28 days
40948   28 days
Length: 40949, dtype: timedelta64[ns]

In [8]:
# Merging the current dataframe with the series.
difference = difference_series
Dates_df['date_interval'] = difference_series
Dates_df

          video_id date_trending publish_time date_interval
0      2kyS6SvSYSE    2017-11-14   2017-11-13        1 days
1      1ZAPwfrtAFY    2017-11-14   2017-11-13        1 days
2      5qpjK5DgCt4    2017-11-14   2017-11-12        2 days
3      puqaWrEC7tY    2017-11-14   2017-11-13        1 days
4      d380meD0W0M    2017-11-14   2017-11-12        2 days
...            ...           ...          ...           ...
40944  BZt0qjTWNhw    2018-06-14   2018-05-18       27 days
40945  1h7KV2sjUWY    2018-06-14   2018-05-18       27 days
40946  D6Oy4LfoqsU    2018-06-14   2018-05-18       27 days
40947  oV0zkMe1K8s    2018-06-14   2018-05-17       28 days
40948  ooyjaVdt-jA    2018-06-14   2018-05-17       28 days

[40949 rows x 4 columns]

In [9]:
# Save dataFrame as CSV
Dates_df.to_csv(r"/Users/richellelong/Desktop/project/Trending_Publish_Interval.csv", index = False)